body{
	background-color:#f4f4f4;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.button{
	background-color:#333;
	color:#fff;
	padding: 10px 15px;
	border:none;
}

.button:hover{
	background:red;
	color:#fff;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

#main-header{
	background-color:#fd6A02;
	color:#fff;
	align-items
}


#navbar{
	background-color:#333;
	color:#fff;
}

#navbar ul{
	padding:0;
	list-style: none;
}

#navbar li{
	display:inline;
}

#navbar li:[login]{
	float:right;
}

#navbar a{
	color:#fff;
	text-decoration:none;
	font-size:18px;
	padding-right:15px;
}

#showcase1{
	background-image:url('../images/fear.jpg');
	background-position:center;
	min-height:300px;
	margin-bottom:30px;
	text-align:center;
	text-shadow: 2px 2px #ff0000
}

#showcase1 h1{
	color:#fff;
	font-size:50px;
	line-height:1.6em;
	padding-top:30px;
}

#showcase2{
	background-image:url('../images/trees.jpg');
	background-position:center;
	min-height:300px;
	margin-bottom:30px;
	text-align:center;
	text-shadow: 2px 2px #ff0000
}

#showcase2 h1{
	color:#fff;
	font-size:50px;
	line-height:1.6em;
	padding-top:30px;
}

#showcase3{
	background-image:url('../images/aboutb.jpg');
	background-position:center;
	min-height:300px;
	margin-bottom:30px;
	text-align:center;
	text-shadow: 2px 2px #ff0000
}

#showcase3 h1{
	color:#fff;
	font-size:50px;
	line-height:1.6em;
	padding-top:30px;
}

#showcase4{
	background-image:url('../images/servicesb.jpg');
	background-position:center;
	min-height:300px;
	margin-bottom:30px;
	text-align:center;
	text-shadow: 2px 2px #ff0000
}

#showcase4 h1{
	color:#fff;
	font-size:50px;
	line-height:1.6em;
	padding-top:30px;
}

#showcase5{
	background-image:url('../images/azza.jpg');
	background-position:top-right;
	min-height:300px;
	margin-bottom:30px;
	text-align:center;
	text-shadow: 2px 2px #ff0000
}

#showcase5 h1{
	color:#fff;
	font-size:50px;
	line-height:1.6em;
	padding-top:30px;
}

#main{
	float:left;
	width:70%;
	padding:0 30px;
	box-sizing:border-box;
	margin-top:30px;
}


#sidebar{
	float: left;
	width:30%;
	background:#333;
	color:#fff;
	padding:10px;
	box-sizing:border-box;
	margin-top:30px;
}

#main-footer{
	background:#333;
	color:#fff;
	text-align: center;
	padding:20px;
	margin-top:40px;
}


@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}
	
	#sidebar{
		width:100%;
		float:none;
	}
}

.my-form{
	padding:20px;
}

.my-form .form-group{
	padding-bottom:15px;
}

.my-form label{
	display:block;
}

.my-form input[type="text"] , .my-form textarea{
	padding:8px;
	width:100%;
}

.block{
	margin:9.9px;
	float:left;
	width:30.1%;
	height:200px;
	padding-top:25px;
	padding-bottom:25px;
	box-sizing:border-box;
	background-image:url('../images/border.jpg');
	text-align:center;

}

